img {
  display: block;
  width: 800px;
  height: 400px;
  margin: 50px auto;
  padding: 5px;
  border: 1px solid #f50;
}
p {
  width: 60%;
  margin: auto;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
